<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>GloWa</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <header class="header">
    <img class="item__img" src="../static/img/header.jpg" alt="header" height=450 width=100% >
  </header>


    <main>
        <h2>
          <b>
          🌍 Добро пожаловать на GloWa — образовательную платформу о глобальном потеплении!🌍
          </b>
        </h2>
        <h3>
           <span>
            Понимать, как меняется климат, — важно для каждого. На <b>GloWa</b> ты найдёшь понятные и увлекательные материалы о глобальном потеплении, его причинах и последствиях, а главное — о том, как <b>ты</b> можешь повлиять на будущее планеты. Учись в удобном темпе, открывай новые знания и становись частью осознанного будущего вместе с нами!
          </span>
        </h3>
        <p>
          <b>
            Выберете курс, который хотите пройти:
          </b>
        </p>

        <div class="content-block">
          <h1>
            <b>
            1. Что такое глобальное потепление? 🌍
            </b>
          </h1>
          <div class="content-inner">
            <img src="../static/img/global.avif" alt="Глобальное потепление" />
            <div class="text-section">
              <p>В этом курсе вы познакомитесь с понятием глобального потепления, узнаете о его динамике и основных причинах, включая влияние человеческой деятельности на климатические изменения.</p>
              <button onclick="window.location.href='/one';">
                Начать!
              </button>
            </div>
          </div>
        </div>

        <div class="content-block">
          <h1>
            <b>
              2. Риски и последствия 🌍
            </b>
          </h1>
          <div class="content-inner">
            <img src="../static/img/risks.avif" alt="Глобальное потепление"/>
            <div class="text-section">
              <p>В этом курсе вы узнаете, с какими рисками связано глобальное потепление и какие последствия оно может повлечь для окружающей среды, экономики и общества.</p>
              <button onclick="window.location.href='/two';">
                Начать!
              </button>
            </div>
          </div>
        </div>

        <div class="content-block">
          <h1>
            <b>
              3. Возобновляемые источники энергии 🌍
            </b>
          </h1>
          <div class="content-inner">
            <img src="../static/img/energy.jpg" alt="Глобальное потепление"/>
            <div class="text-section">
              <p>В этом курсе вы познакомитесь с основными видами возобновляемых источников энергии и узнаете, какую роль они играют в переходе к устойчивому будущему.</p>
              <button onclick="window.location.href='/three';">
                Начать!
              </button>
            </div>
          </div>
        </div>

        <div class="content-block">
          <h1>
            <b>
              4. Развитие и поддержка общественного транспорта 🌍
            </b>
          </h1>
          <div class="content-inner">
            <img src="../static/img/transport.avif" alt="Глобальное потепление"/>
            <div class="text-section">
              <p>В этом курсе вы узнаете, почему развитие общественного транспорта важно для устойчивых городов и какие меры помогают сделать его более доступным, эффективным и экологичным.</p>
              <button onclick="window.location.href='/four';">
                Начать!
              </button>
            </div>
          </div>
        </div>

        <div class="content-block">
          <h1>
            <b>
              5. Развитие экономики замкнутого цикла 🌍
            </b>
          </h1>
          <div class="content-inner">
            <img src="../static/img/recycling.jpg" alt="Глобальное потепление"/>
            <div class="text-section">
              <p>В этом курсе вы узнаете, что такое экономика замкнутого цикла, и как её принципы помогают сократить отходы, сохранить ресурсы и построить устойчивое будущее.</p>
              <button onclick="window.location.href='/five';">
                Начать!
              </button>
            </div>
          </div>
        </div>

        <div class="content-block">
          <h1>
            <b>
              6. Изменение сельского хозяйства 🌍
            </b>
          </h1>
          <div class="content-inner">
            <img src="../static/img/farming.jpg" alt="Глобальное потепление"/>
            <div class="text-section">
              <p>В этом курсе вы узнаете, как меняется современное сельское хозяйство под влиянием климатических вызовов и технологического прогресса, а также какие подходы способствуют его устойчивому развитию.</p>
              <button onclick="window.location.href='/six';">
                Начать!
              </button>
            </div>
          </div>
        </div>
        </div>

        <p class = "tech">Если что-то не работает или у тебя возникли вопросы — не переживай! Мы всегда рядом и готовы помочь. Напиши нам, и команда поддержки GloWa ответит как можно скорее.
            Твое комфортное обучение — наш приоритет 💬</p>

          <section class="main__feedback feedback" id="feedback">
            <h2 class="feedback__title">Тех-Поддержка:</h2>
            <form action="/feedback" method="POST" class="feedback__form form">
              <label for="email">
                <input type="email" class="form__input" name="email" id="email" placeholder="E-mail" required>
              </label>
              <label for="text">
                <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Text"></textarea>
              </label>
              <button class="form__button" type="submit">Отправить</button>
            </form>
          </section>
    </main>
</body>
</html>